body{
	margin: 50px;
	box-shadow: 0 0 8px #999;
	padding: 50px;
	overflow: hidden;
}
span{
	margin: 10px;
	padding: 10px;
	background-color: #ff33cc;
	color: #fff;
}
span:hover{
	background-color: #33ffee;
	color: #fff;
}