div{
	border: 2px solid #999;
	display: flex;
	justify-content: space-around;  /* space-around：弹性盒子元素会平均地分布在行里，两端保留子元素与子元素之间间距大小的一半。 */
	align-items: center;			/* center：弹性盒子元素在该行的侧轴（纵轴）上居中放置。 */
	overflow: hidden;				/* hidden : 　不显示超过对象尺寸的内容 */
}
.child0{
	margin: 20px auto;
	width:1100px;
	height: 500px;
}
.child1{
	width: 500px;
	height: 400px;
}
.child2{
	width: 100px;
	height: 300px;
}
