#main{
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -100px;
	margin-right: -200px;
	/*
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
	*/
	width: 400px;
	height: 200px;
	background-color: #ccc;
}
#left{
	background-color: #fc0;
	width: 50px;
	height: 50px;
	border-bottom-right-radius: 50px;
	position: absolute;
}
#right{
	background-color: #fc0;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top-left-radius: 50px;
}
